<h1>Invitation to join your friend's team on SuprSub.com</h1>
<p>In order to join the team <em>{{teamName}}</em> on <strong>SuperSub</strong>, click on the link below and you will be taken through the sign-up process.</p>
<h5><a href="{{suprsubRoot}}/team/{{code}}">{{suprsubRoot}}/team/{{code}}</a></h5>
<p>If you're already a member, you can simply click on the <em>Join Team</em> icon on the <em>Team</em> page and enter the code below:</p>
<h3>{{code}}</h3>